.header {
    padding: 60px 0;
    color: #ffffff;
    background-image: url("../../images/Header-Background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 40vh;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px black;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
}

.header-title {
    font-size: 64px;
    margin-bottom: 30px;
}

.header-subtitle {
    font-size: 24px;
}